body {
  font-family: "Poppins", sans-serif;
  background-color:white;
  color: #2f3e46;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}


header {
  text-align: center;
  padding: 25px 15px ;
}

h1 {
  font-size: 18px;
  color: #2c786c;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 15px;
  color: #52796f;
  font-style: italic;
}


.section-nav {
  text-align: center;
  margin-bottom: 15px;
}

.section-nav a {
  text-decoration: none;
  color: #2c786c;
  font-weight: bold;
  margin:10px;
  font-size: 15px;
 
}

.section-nav a:hover,
.section-nav a.active {
  color: #3a9a84;
}


main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}


.about-container {
  max-width: 800px;
  background-color: #e0f2ef;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: left;
  line-height: 1.6;
  color: #2f3e46;
}

.about-container h2 {
  color: #35524a;
  font-size: 1.6rem;
  margin-bottom: 15px;
  text-align: center;
}

.about-container p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #52796f;
}


footer {
  text-align: center;
  padding: 12px;
  background-color: #d9f3ee;
  color: #35524a;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}