body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #2f3e46;
  display: flex;
  flex-direction: column;
  }
header {
  text-align: center;
  padding: 30px 20px;
}
h1 {
  font-size: 22px;
  color: #2c786c;
  
}
.subtitle {
  font-size: 16px;
  color: #52796f;
  font-style: italic;
}

main {
  
  display: flex;
  justify-content: center;
  align-items: center; 
}
.intro .box {
  background-color:white;
  padding: 50px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 
}
.intro h2 {
  color: #35524a;
  font-size: 22px;
  
}
.intro p {
  font-size: 15px; 
  color: #52796f;
}
.btn {
  background-color: #2c786c;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size:14px ;
}
.btn:hover {
  background-color: #3a9a84;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #d9f3ee;
  color: #35524a;
  font-size: 15px;
  position:fixed;
  bottom:0;
  width:100%;
}
.section-nav {
  text-align: center;
 
}
.section-nav a {
  text-decoration: none;
  color: #2c786c; 
  font-weight: bold;
  margin: 0 15px;
}
.section-nav a:hover,
.section-nav a.active {
  color: #3a9a84; 
}
.body-content {
  background-color:white; 
  max-width: 350px;
  padding: 30px 20px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}
.body-content input[type="text"],
.body-content input[type="password"] {
  width: 90%;
  padding: 8px 10px;
  margin: 6px ;
  border-radius: 8px;
  font-size: 15px;
}
.body-content input[type="radio"] {
  margin-right: 6px;
}
.body-content .btn {
  background-color: #2c786c;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
}
.body-content .btn:hover {
  background-color: #3a9a84;
}